.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 39px;
    padding: 39px;
    max-width: 100%;
  }

    .container h1,
    .container h2 {
        color: #8b5eec; /* Choose your desired color */
    }
    
  .main-heading {
    font-size: 36px;
    color: #512da8;
    text-align: center;
  }
  
  .service-card {
    display: flex;
    margin-bottom: 20px;
  }
  
  .service-card img {
    max-width: 200px;
    height: auto;
    margin-right: 20px;
  }
  
  .service-info {
    flex: 1;
  }
  
  .service-info h2 {
    margin-top: 0;
  }
  
  .service-info p {
    color: #666;
  }
  